# macOS

# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk



# C template

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#Others
Cursus/Libft/libft-war-machine-master/deepthought
**/.vscode
**/.vscode/**
Cursus/Circle2/Pipex/pipex
Cursus/Circle2/Pipex/outfile
Cursus/Circle2/Pipex/output
Cursus/Circle2/Pipex/script.sh
Cursus/Circle2/Pipex/script"quote.sh
Cursus/Circle2/Pipex/script space.sh
Cursus/Circle2/Pipex/savenorme
Cursus/Circle2/Pipex/output2
Cursus/Circle2/Pipex/outfile2.txt
Cursus/Circle2/Pipex/outfile.txt
Cursus/Circle2/Pipex/no_x_script.sh
Cursus/Circle2/Pipex/no_w_perm
Cursus/Circle2/Pipex/no_r_perm
Cursus/Circle2/Pipex/middle_fail.sh
Cursus/Circle2/Pipex/medic/tester.log
Cursus/Circle2/Pipex/medic/test.sh
Cursus/Circle2/Pipex/medic/src/utils.c
Cursus/Circle2/Pipex/medic/src/test.c
Cursus/Circle2/Pipex/medic/src/runTest.c
Cursus/Circle2/Pipex/medic/src/main.c
Cursus/Circle2/Pipex/medic/README.md
Cursus/Circle2/Pipex/medic/inc/test.h
Cursus/Circle2/Pipex/medic/inc/main.h
Cursus/Circle2/Pipex/medic/inc/color.h
Cursus/Circle2/Pipex/medic/assets/output3.png
Cursus/Circle2/Pipex/medic/assets/output2.png
Cursus/Circle2/Pipex/medic/assets/output.png
Cursus/Circle2/Pipex/infile.txt
Cursus/Circle2/Pipex/heredoc.sh
Cursus/Circle2/Pipex/dummy
Cursus/Circle2/Pipex/subdir/script.sh
Cursus/Circle2/Pipex/typescript
Cursus/Circle2/Pipex/uname
Cursus/Circle3/Philosophers/philo/philo
